<li>
  <h2 class="headline">{{post.headline}}</h2><h4>Author: {{post.author}}</h4>
    {{post.body}}<br>
    <br>

  {{#ember-remodal openButton='Show Image'}}
    <img src={{post.image}} {{action 'imageHide'}}>
  {{/ember-remodal}}

    <!-- <button {{action 'imageShow'}}>Show Image</button> -->

</li>
