<li>
  <h2 class="headline">{{post.headline}}</h2>
  <h4>Author: {{post.author}}</h4>
    {{post.body}}<br>
    <br>

  {{#ember-remodal openButton='Image'}}
    <img class="photos" src={{post.image}}>
  {{/ember-remodal}}

  <button {{action 'delete' post}}>Delete</button>

    <!-- <button {{action 'imageShow'}}>Show Image</button> -->

</li>
