<li>
  <h2 class="headline">{{post.headline}}</h2><h4>Author: {{post.author}}</h4>
    {{post.body}}<br>
  {{#if isImageShowing}}
    <p><img src={{post.image}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Show Image</button>
  {{/if}}
</li>
