<li>{{#link-to 'post' post.id}}
    <h3>{{post.headline}}</h3> {{/link-to}}
    {{#if isImageShowing}}
      <p><img class="photos" src={{post.image}} {{action 'imageHide'}}></p>
    {{else}}
    <button {{action 'imageShow'}}>Show Image</button>
    {{/if}}
</li>
