<li>{{post.author}} {{post.headline}} {{post.body}}
  {{#if isImageShowing}}
    <p><img src={{post.image}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Show Image</button>
  {{/if}}
</li>
